html {
    scroll-behavior: smooth;
  }

.bg{
    background-image: url("/img/hotel-lobby.jfif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: -1;
}
.navs{
    position: fixed;
    top: 0;
    width: 100%;
    margin-top: 10px;
    z-index: 1;
}
.navs img{
    max-width: 100px;
    border-radius: 50px;
}
body{
    background-color: rgb(255, 255, 255);
}
.textcard {
    position: absolute;
    left: 5%;
    top: 20%;
}

.textcard {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.textcard.show {
    opacity: 1;
    visibility: visible;
}

/*Room Image*/

.room-card {
    display: flex;
    flex-direction: row;
    width: 540px;
    border: 10px solid rgb(207,226,221);
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    color: black;
    background-color: rgb(207,207,207);
    &:hover {
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
  }
  
  .room-image {
    height: 150px;
    border-radius: 8px;
    
    
  }
  
  .room-name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
    margin-left: 20px;
    margin-top: 20px;
  }
  
  .room-description {
    font-size: 14px;
    margin-bottom: 8px;
    margin-left: 20px;
  }
  
  .room-price {
    font-size: 20px;
    font-weight: bold;
    margin: 50px 0px 0px 50px;
  }
  
  /* lobby pages */
  .lobbycss {
    display: flex;
    justify-content: start;
    margin-left: 5%;
  }
  
  .room-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 1100px;
    margin-top: 20px;

  }
  @media (max-width: 768px) {
    .room-grid {
      grid-template-columns: 1fr;
    }
  }

/* font family */
