.slider{
    position: absolute;
    transform: translate(330%, -140%);
}

#Slider {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper {
  width: 240px;
  height: 320px;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.swiper-slide:nth-child(1n) {
  background-color: rgba(128, 128, 128, 0.8);
}

.swiper-slide:nth-child(2n) {
  background-color: rgba(128, 128, 128, 0.8);
}

.swiper-slide:nth-child(3n) {
  background-color: rgba(128, 128, 128, 0.8);
}

.swiper-slide:nth-child(4n) {
  background-color: rgba(128, 128, 128, 0.8);
}

.swiper-slide:nth-child(5n) {
  background-color: rgba(128, 128, 128, 0.8);
}

.swiper-slide:nth-child(6n) {
  background-color: rgb(180, 10, 47);
}

.swiper-slide:nth-child(7n) {
  background-color: rgb(35, 99, 19);
}

.swiper-slide:nth-child(8n) {
  background-color: rgb(0, 68, 255);
}

.swiper-slide:nth-child(9n) {
  background-color: rgb(218, 12, 218);
}

.swiper-slide:nth-child(10n) {
  background-color: rgb(54, 94, 77);
}

.slider {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  }
  
  .slider.show {
    opacity: 1;
    visibility: visible;
  }
  
